<div class="pt-4 container">
  <div class="mb-2">
    <span class="h3 fw-bold">Dashbaord</span>
  </div>
  <hr />
  <div class="row mb-5">
    <div class="col-4">
      <app-request-card
        [cardName]="'Maintenance Job'"
        [directRoute]="'maintenance'"
        [headersBg]="'bg-danger'"
      ></app-request-card>
    </div>
    <div class="col-4">
      <app-request-card
        [cardName]="'Housekeeper Job'"
        [directRoute]="'housekeeper'"
        [headersBg]="'bg-warning'"
      ></app-request-card>
    </div>
  </div>
  <div>
    <span class="h3 fw-bold">Job Status</span>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="bg-warning p-2 widget-user-header"></div>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <button ngbNavLink>Job maintenance status</button>
            <ng-template ngbNavContent>
              <app-status-table [jobType]="'maintenance'"></app-status-table>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <button ngbNavLink>Job housekeeper status</button>
            <ng-template ngbNavContent>
              <app-status-table [jobType]="'housekeeper'"></app-status-table>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>
