<div class="pt-4 container">
  <div>
    <a
      class="h3 text-secondary fw-bold text-decoration-none"
      routerLink="/dashboard"
      >Dashbaord >
    </a>
    <span class="h3 fw-bold">Request the Job</span>
  </div>
  <hr />
  <div class="card">
    <div class="bg-warning p-2 widget-user-header"></div>
    <div class="card-body p-4">
      <div class="row mb-3">
        <div class="col-7">
          <label for="exampleFormControlInput1" class="form-label">
            Request Name
          </label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
          />
        </div>
        <div class="col-5">
          <label for="exampleFormControlInput1" class="form-label">
            Telephone
          </label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <label for="exampleFormControlInput1" class="form-label">
            Place
          </label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1" class="form-label">
            Request To
          </label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-8">
          <label for="exampleFormControlTextarea1" class="form-label">
            Example textarea
          </label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <button type="button" class="btn btn-primary">Send Request</button>
        </div>
      </div>
    </div>
  </div>
</div>
