<div class="pt-4 container">
  <div>
    <span class="h3 fw-bold">Admin Dashbaord</span>
  </div>
  <hr />
  <div class="row mb-4">
    <div class="col-12">
      <app-admin-status-table
        [jobType]="'maintenance'"
        [headersBg]="'bg-warning'"
      ></app-admin-status-table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-admin-status-table
        [jobType]="'housekeeper'"
        [headersBg]="'bg-danger'"
      ></app-admin-status-table>
    </div>
  </div>
</div>
