<div class="card">
  <div class="{{ headersBg }} p-2 widget-user-header">
    <h4 class="fw-bold">{{ jobType | titlecase }}</h4>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th scope="col">Topic</th>
          <th scope="col">Place</th>
          <th scope="col">Request by</th>
          <th scope="col">Request to</th>
          <th scope="col">Status</th>
          <th scope="col">update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobListShow; let i = index">
          <td>{{ job.id | displaJobId }}</td>
          <td>{{ job.job_topic }}</td>
          <td>{{ job.place_name }}</td>
          <td>{{ job.request_name }}</td>
          <td>{{ job.rsponsible_person_name }}</td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'text-bg-warning': job.status_name == 'pending',
                'text-bg-primary': job.status_name == 'inprogress',
                'text-bg-danger': job.status_name == 'reject',
                'text-bg-success': job.status_name == 'finish'
              }"
              >{{ job.status_name }}
            </span>
          </td>
          <td>
            <a class="btn btn-outline-primary" (click)="goToupdatePage(job.id)">
              <fa-icon [icon]="faPencil" class="p-1"></fa-icon>update</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="refreshPage()"
      >
      </ngb-pagination>
    </div>
  </div>
</div>
